{% extends 'examallocations/base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Available Exams</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Exam Name</th>
          
          <th>Time</th>

          <th>Venue</th>
        </tr>
      </thead>
      
        <td>CSC211</td>
        <td>{{user.profile.CSCT}}</td>
        <td>{{user.profile.CSCV}}</td>
      <tr>

        <td>CSC212</td>
        <td>{{user.profile.CSCT1}}</td>
        <td>{{user.profile.CSCV1}}</td>
        
        
      </tr>

      <td>CSC213</td>
      <td>{{user.profile.CSCT2}}</td>
      <td>{{user.profile.CSCV2}}</td>
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}